/* @font-face {
  font-family: "Calisto MT Pro";
  src: url("./fonts/CalistoMTPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */

/* @font-face {
  font-family: "Berthold Standard Regular";
  src: url("./fonts/BertholdStandard-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */
